@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ropa+Sans:ital@0;1&display=swap');

@import url('/assets/css/global/nav-bar.css');

*{
  padding: 0;
  margin: 0;
}

.banner-header {
    height: 500px;
    background-color: #ffeddf;
    overflow: hidden;
}

.banner-header h3{
  font-family: "Rethink Sans", sans-serif;
  font-weight: 700;
}

.carousel-item{
  height: 100%;
}

.carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-banner{
  flex: 1;
  text-align: left;
  padding-left: 0.5rem;
}

@media (max-width: 768px) {
  .text-banner {
    flex: 1 1 100%;
    text-align: left;
    padding-right: 10px;
  }
  #carouselExampleSlidesOnly {
    width: 75% !important;
  }
  .search-bar{
    max-width: 200px;
  }
}

@media (max-width: 480px){
  .text-banner {
    flex: 1 1 100%;
    text-align: left;
    padding-right: 10px;
  }
  #carouselExampleSlidesOnly {
    width: 100% !important;
  }
}

.playlist{
  font-family: "Rethink Sans", sans-serif;
  font-weight: 700;
}

.playlist-section{
  background-color: #F8F0AF;
  height: 200px;
}

@media (min-width: 768px){
  .text-playlist{
    font-size: 20px;
  }
}

@media (max-width: 480px){
  .text-playlist{
    font-size: 15px;
  }
}

.img-playlist{
  width: 250px;
  height: 200px;
}

@media (min-width: 768px){
  .img-playlist{
    width: 250px;
    height: 200px;
  }
}

@media (max-width: 480px){
  .img-playlist{
    width: 200px;
    height: 150px;
  }
}

.section-button-playlist{
  left: 65%;
}

#btn-playlist{
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border-color: black;
  background-color: black;
}

.img-project {
  height: 500px;
}

.dark-overlay {
  background: rgba(0, 0, 0, 0.7);
  height: 70%;
  font-family: "Rethink Sans", sans-serif;
}

.text-project{
  font-size: 30px;
  font-weight: 700;
}

#btn-project{
  font-size: 20px;
  border-color: black;
  background-color: black;
}
