@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ropa+Sans:ital@0;1&display=swap');

*{
  padding: 0;
  margin: 0;
}

/* BARRA DE NAVEGAÇÃO*/
.navbar{
  height: 27vh;
  background-color: #002930;
}

.navbar-brand img{
  width: 120px;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


#icon-menu-navbar{
  font-size: 3rem;
  color: white;
}

.user-navbar{
  position: absolute;
  right: 0;
}

#icon-user-navbar{
  font-size: 3rem;
  color: white;
}

.dropdown-content {
  display: none;
  background-color: #002930;
  height: 60%;
  width: 40%;
  z-index: 100;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  padding: 2px;
  transition: background 0.3s ease-in-out;
}

.dropdown-content ul{
  list-style: none;
}

.dropdown-content a:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.overlay-menu{
  display: none;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 99;
}

.text-menu{
  font-family: "Ropa Sans", sans-serif;
  left: 15%;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .text-menu{
    font-family: "Ropa Sans", sans-serif;
    left: 20%;
    font-size: 20px;
  }
  .navbar-brand img{
    width: 90px;
  }
}

@media (max-width: 480px) {
  .text-menu{
    font-family: "Ropa Sans", sans-serif;
    left: 10%;
    font-size: 15px;
  }
  .dropdown-content{
    height: 60%;
    width: 65%;
  }
  #icon-menu-navbar{
    font-size: 2.5rem;
  }
  #icon-user-navbar{
    font-size: 2.5rem;
  }
  .navbar-brand img{
    width: 80px;
  }
}

.button-login{
  background: #AC4A00;
  color: white;
  padding: 0.5rem 5rem 0.5rem 5rem;
}


.show{
  display: block;
}

/* BARRA DE NAVEGAÇÃO*/

.banner-header {
    height: 500px;
    background-color: #ffeddf;
    overflow: hidden;
}

.banner-header h3{
  font-family: "Rethink Sans", sans-serif;
  font-weight: 700;
}

.carousel-item img{
  object-fit: cover;
}

.text-banner{
  flex: 1;
  text-align: left;
}

@media (max-width: 768px) {
  .text-banner {
    flex: 1 1 100%;
    text-align: left;
    padding-right: 10px;
  }
}

@media (max-width: 480px){
  .text-banner {
    flex: 1 1 100%;
    text-align: left;
    padding-right: 10px;
  }

}

.playlist{
  font-family: "Rethink Sans", sans-serif;
  font-weight: 700;
}

.playlist-section{
  background-color: #F8F0AF;
  height: 200px;
}

@media (min-width: 768px){
  .text-playlist{
    font-size: 20px;
  }
}

@media (max-width: 480px){
  .text-playlist{
    font-size: 15px;
  }
}

.img-playlist{
  width: 250px;
  height: 200px;
}

@media (min-width: 768px){
  .img-playlist{
    width: 250px;
    height: 200px;
  }
}

@media (max-width: 480px){
  .img-playlist{
    width: 200px;
    height: 150px;
  }
}

.section-button-playlist{
  left: 65%;
}

#button-msg{
  color: white;
  background-color: #AC4A00;
}

#btn-playlist{
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border-color: black;
  background-color: black;
}

.img-project {
  height: 500px;
}

.dark-overlay {
  background: rgba(0, 0, 0, 0.7);
  height: 70%;
  font-family: "Rethink Sans", sans-serif;
}

.text-project{
  font-size: 30px;
  font-weight: 700;
}

#btn-project{
  font-size: 20px;
  border-color: black;
  background-color: black;
}

.form-control {
  border: 2px solid #333 !important; 
  border-radius: 5px; 
  color: #000; 
  background-color: #fff; 
}

.form-control:focus {
  border-color: #000 !important; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}
