<footer class="text-center text-lg-start text-black" style="background-color: #ffffff">
  <section class="d-flex w-100 justify-content-center align-items-center" style="background-color: #002930;">
    <div>
      <img src="/assets/img/global/guiasetup.svg" alt="logoguiasetup" width="50px" height="50px">
    </div>
  </section>

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start">
      <!-- Grid row -->
      <div class="row mt-2">
        <!-- Grid column -->

        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
          </h6>
          <p class="text-center">
            <a href="/suporte.html" class="text-reset text-decoration-none">Contato e Atendimento</a>
          </p>
        </div>
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2025 Copyright:
    <a class="text-black">GUIASETUP</a>
  </div>
</footer>