<!-- NAVBAR -->

<header class="navbar mw-100">
  <div class="container w-100 h-100 position-relative">

    <!-- MENU-ICON -->
    <div class="menu-navbar">
      <div class="dropdown">
        <button id="menu-button" class="border-0 bg-transparent">
          <i class="bi bi-list" id="icon-menu-navbar"></i>
        </button>
      </div>
    </div>
    <!-- MENU-ICON -->

    <!-- LOGO -->
    <div class="navbar-center">
      <a class="navbar-brand" href="/index.html">
        <img src="/assets/img/global/guiasetup.svg" alt="GUIASETUPLOGO">
      </a>
      <form class="search-bar d-flex w-100 mt-1" role="search">
        <div class="input-group w-100">
          <input class="form-control border-0" type="search" placeholder="Pesquisar">
          <span class="input-group-text border-0"><i class="bi bi-search"></i></span>
        </div>
      </form>
    </div>
    <!-- LOGO -->

    <!-- USER-ICON -->
    <div class="user-navbar d-flex align-items-center">
      <a href="/login.html">
        <i class="bi bi-person-circle" id="icon-user-navbar"></i>
      </a>
    </div>
  </div>
  <!-- USER-ICON -->
</header>

<!-- MENU DROPDOWN -->
<div id="overlay-menu" class="overlay-menu position-fixed top-0 start-0 w-100 h-100"></div>
<div id="dropdown-menu" class="dropdown-content position-absolute top-27 start-0">

  <div class="user-menu">
    <div class="d-flex justify-content-between position-relative ms-3 mt-3 mb-3">
      <a href="#" class="d-flex justify-content-center align-items-center gap-2">
        <div>
          <i class="bi bi-person-circle" id="icon-user-navbar"></i>
        </div>
        <div class="text-menu d-flex pt-1 text-white">
          ACESSE SUA CONTA
        </div>
      </a>
      <div>
        <i class="bi bi-x"></i>
      </div>
    </div>
  </div>


  <ul>
    <li class="nav-item"><a href="/suporte.html">Contato e Atendimento</a></li>
  </ul>


  <div class="menu-buttons d-flex position-absolute bottom-0 start-50 translate-middle-x">
    <div class="d-flex flex-column align-items-center mb-3">
      <a href="/login.html">
        <button class="button-login border-0 rounded-2">Entre</button>
      </a>
      <a href="/register.html">Cadastre-se</a>
    </div>
  </div>

</div>
<!-- MENU DROPDOWN -->

<!-- NAVBAR -->