/* BARRA DE NAVEGAÇÃO*/
.navbar{
  background-color: #002930;
  padding: 0.5rem 1rem;
}

.navbar-brand img{
  width: 7rem;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.search-bar{
  max-width: 400px;
}


#icon-menu-navbar{
  font-size: 3rem;
  color: white;
}

#icon-user-navbar{
  font-size: 3rem;
  color: white;
}

.dropdown-content {
  display: none;
  background-color: #002930;
  height: 60%;
  width: 40%;
  z-index: 100;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  padding: 2px;
  transition: background 0.3s ease-in-out;
}

.dropdown-content ul{
  list-style: none;
}

.dropdown-content a:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.overlay-menu{
  display: none;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 99;
}

.text-menu{
  font-family: "Ropa Sans", sans-serif;
  left: 15%;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .text-menu{
    font-family: "Ropa Sans", sans-serif;
    left: 20%;
    font-size: 20px;
  }
  .navbar-brand img{
    width: 6rem;
  }
}

@media (max-width: 480px) {
  .text-menu{
    font-family: "Ropa Sans", sans-serif;
    left: 10%;
    font-size: 15px;
  }
  .dropdown-content{
    height: 60%;
    width: 65%;
  }
  #icon-menu-navbar{
    font-size: 2.5rem;
  }
  #icon-user-navbar{
    font-size: 2.5rem;
  }
  .navbar-brand img{
    width: 5rem;
  }
  .search-bar{
    max-width: 200px;
  }
}

.button-login{
  background: #AC4A00;
  color: white;
  padding: 0.5rem 5rem 0.5rem 5rem;
}


.show{
  display: block;
}

/* BARRA DE NAVEGAÇÃO*/