@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ropa+Sans:ital@0;1&display=swap');

@import url('/assets/css/global/nav-bar.css');

* {
    font-family: "Ropa Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFEDDF;
}

.bi-arrow-left {
    color: #AC4A00;
}

.card-custom {
    background-color: white;
    border-radius: 10px;
    margin: 0.5rem 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.card-custom img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 6px;
}

.card-custom .title {
    font-weight: bold;
    word-break: break-word;
}

.card-custom .favorite {
    background: none;
    border: none;
    color: #a34700;
    font-size: 1.5rem;
}

.switch {
    transform: scale(1.5);
}